<?xml version='1.0' encoding='utf-8'?>
<widget id="org.example.app01" version="0.2.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>APP01</name>
  <description>
    Example Tabris.js App
  </description>
  <author email="john@example.org">
    ebrainzone
  </author>
  <preference name="EnableDeveloperConsole" value="$false" />
    <preference name="orientation" value="portrait"/>
	
    <platform name="android">
        <config-file parent="/*" target="AndroidManifest.xml" mode="merge">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.CAMERA"/>
            <uses-feature android:name="android.hardware.camera" android:required="false"/>
        </config-file>
    </platform>

</widget>
